/* My custom styles */
.nopadding {
  padding-left: 0;
  padding-right: 0;
}
.wp-caption{
  font-size: $h6-font-size;
}
.wp-caption-text{
  font-size: $h6-font-size;
}
.gallery-caption{
  font-size: $h6-font-size;
}
.bypostauthor{
  font-size: $h6-font-size;
}
.alignright{
  float: right;
}
.alignleft{
  float: left;
}
.aligncenter{
  margin: 0 auto;
}
.sticky{

}
.sidebar-widget ul{
  list-style: none;
}